# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Create tables and markdown cells in Jupyter Notebook.
- Perform basic arithmetic operations in Python.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60
print(h)

3.3333333333333335

## Author
M.SUBIKSHA